{% extends 'base.html' %}

{% block content %}
    <div>User: {{ request.user }}</div>
    <div>Authenticated: {{ request.user.is_authenticated }}</div>
    <div>
        <a href="{% url 'members:logout' %}">로그아웃</a>
    <!--
    로그아웃버튼(a태그로 구현)
    이 버튼을 사용자가 로그인되어 있을때만 보여주도록 한다.
    -->
    </div>
    <div>
        <a href="{% url 'posts:post-create' %}">포스트 추가</a>
    </div>
    {% for post in posts %}
        <div>작성자: {{ post.author }}</div>
        <div>작성일시: {{ post.created }}</div>
        <div>글내용: {{ post.content }}</div>
        <div>
            {% for post_image in post.postimage_set.all %}
            <img src="{{ post_image.image.url }}" alt="">
            <!--
            이 post가 가진 모든 PostImage들을 출력
            <img src"무언가.image.url">
            -->
            {% endfor %}
        </div>
        <form action="{% url 'posts:post-like' pk=post.pk %}" method="POST">
            {% csrf_token %}
            {% if user in post.like_users.all %}
                <div>좋아요 눌린 상태</div>
            {% else %}
                <div>좋아요 안눌린 상태</div>
            {% endif %}
            <button type="submit">
                좋아요
            </button>
        </form>
    {% endfor %}
{% endblock %}