server {
    # 80번 포트로 온 요청에 응답할 Block임
    listen 80;
    server_name hongbeen.xyz www.hongbeen.xyz;
    charset utf-8;

    # Let's Encrypt
    location /.well-known/acme-challenge/ {
        alias           /srv/instagram/.cert/;
    }
    # .well-known외의 모든 요청을 https로 다시 요청하도록 redirect
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name hongbeen.xyz www.hongbeen.xyz;
    charset urf-8;

    ssl on;
    ssl_certificate     /etc/letsencrypt/live/hongbeen.xyz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/hongbeen.xyz/privkey.pem;

    location / {
        # 일반적으로 proxy로 요청을 넘겨 줄 경우 필요한 설정들
        include    /etc/nginx/proxy_params;
        proxy_pass http://unix:/run/instagram.sock;
    }
    location /static/ {
        alias           /srv/instagram/.static/;
    }
}
